# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual env
venv/
.venv/

# Byte-compiled
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# Docker
docker-compose.override.yml
*.pid

# VSCode
.vscode/


# pytest
.pytest_cache/

# Other
.DS_Store
